@font-face {
    font-family: Roundo;
    src: url(Font/Roundo-Regular.ttf);
}

a {
    color:#DE9463;
}

body {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

header {
    background-image: url(img_home/Banner2.jpg);
    background-size: cover;
    align-items: flex-end;
    height: 220px;
}


#titolo-header {
    font-family: Roundo;
    margin-left: 70px;
    padding-top: 120px;
    font-size: 25px;
    color: white;
    border-color: #DE9463;
    -webkit-text-stroke: 0.3px #DE9463;
}

.contenitore-bio {
    display: block;
    flex-direction: row;
    margin-top: 60px;
    margin-right: 40%;
}

.contenitore-profilo {
    display: flex;
    justify-content: right;
    margin-right: 70px;
}

.img-profilo {
    display: flex;
    width: 250px;
    border-radius: 200px;
    margin-top: -150px;
    margin-bottom: 10px;
    margin-left: 35px;
    border: 5px solid #DE9463;
}

h1 {
    font-size: 50px;
    margin: 0;
    margin-left: 70px;
    margin-top: -70px;
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #DE9463;
    -webkit-text-fill-color: white;
}


h2 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 275px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #DE9463;
    -webkit-text-fill-color: white;
}

h3 {
    font-family: Roundo;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 96px;
    font-size: 40px;
    color: white;
    border-color: #DE9463;
    -webkit-text-stroke: 0.2px #DE9463;
}

#sp2 {
    font-family: Roundo;
    margin-left: 70px;
    padding-top: 160px;
    font-size: 40px;
    color: white;
    border-color: #DE9463;
    -webkit-text-stroke: 0.3px #DE9463;
}

hr {
    height: 5px;
    background-color: #F5DDBB;
    width: auto;
    border: 0px;
}

.titolo-categoria {
    background-color: #DE9463;
    font-size: 25px;
    color: white;
    padding-left: 20px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    margin: 0;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.p-bio {
    
    margin-left: 20px;
    margin-right: 70px;
    margin-bottom: 50px;
}

.contenitore-elenco {
    margin-left: 70px;
    margin-right: 70px;
}

.lista-epuntato {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contenitore-categorie {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
}

.contenitore-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-categoria {
    width: 270px;
    margin: 90px;
    margin-top: 96px;
    margin-bottom: 60px;
    border: 6px solid #F5DDBB;
    border-radius: 10px;
}


.contenitore-testo-footer {
    display: flex;
    justify-content: space-between; /* Distribuisce gli elementi */
    align-items: center; /* Centra verticalmente */
    background-color: #DE9463;
    padding: 20px 20px; /* Spazio interno */
}

footer a {
    color:#fff;
    font-size: 20px;
    
    
}

footer p{
    color: white;
    font-size: 20px;


}

#footercontatti {
    align-items: center; /* Centra verticalmente */
    background-color: #DE9463;
    padding: 20px 20px; 
}

.rojey {
    color: white;
    opacity: 70%;
    text-align: center;
    
}


/* ------------------------------------------------------------------ css specifico x p. 1 "Come Fiori" ------------------------------------------------------- */

.text2 {
    display: grid; 
    grid-template-columns: 500px 1200px;
}
.text2 p {
    margin-left: 300px;
}

.sp { /* spazio */
    margin-top: 100px;
}

/* Contenitore del pulsante */
.button-container {
    text-align: center;
    margin-left: 190px;
}

/* Stile del pulsante */
.download-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #DE9463; /* Colore arancione del pulsante */
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Effetto ombra */
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover effetto */
.download-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

/* Icona del pulsante */
.download-button .icon {
    font-size: 20px;
}

.centraledesc {
    padding-right: 40px;
    text-align: center;
}

#h2 {
    margin-left: 540px;
}

/* ------------------------------------------------------------------ css specifico x p. 2 DD ------------------------------------------------------- */



.works {
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonne */
    grid-template-rows: repeat(2, auto); /* 2 righe */
    gap: 45px; /* Spaziatura tra gli elementi */
    justify-content: center;
    align-items: center;
}

.work-item img {
    width: 50%;
    height: auto;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.work-item img:hover { /* animazione passaggio cursore */
    transform: scale(1.05);
}


.container {
    display: flex;
    max-width: 1200px;
    width: 90%;
    background-color: #fff;
}

/* Sezione immagine */
.image img {
    width: 100%;
    height: auto;
    max-width: 700px;
    object-fit: cover;
    margin-top: 10px;
}

.text {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.text p {
    font-size: 17px;
    line-height: 1.6;
}



/* ------------------------------------------------------------------ Contatti Pagina------------------------------------------------------- */

.home-icon {
    display: inline-block;
    width: 80px;
    margin-top: 20px;
    margin-left: 20px;
}

.home-icon img {
    width: 100%;
    object-fit: cover; 
    transition: transform 0.3s; 
}

.home-icon img:hover {
    transform: scale(1.1); 
}

.img-profilo2 {
    width: 15%;
    height: auto;
    display: flex; 
    border-radius: 200px;
    margin: auto;
    margin-top: 20px;
    border: 5px solid #DE9463;
}

.contacts-container {
    display: flex;
    gap: 30px;
    padding: 300px;
    padding-right: 150px;
    justify-content: space-evenly;
    align-items: center;
}

/* Colonna delle icone */
.icons {
    display: flex;
    flex-direction: column;
    gap: 180px;
}

.icon img {
    width: 35px;

}

/* Linea verticale divisoria */
.divider {
    width: 5px;
    height: 350px;
    background-color: #DE9463;
    
}

.titolo-categoria3 {
    background-color: #DE9463;
    font-size: 25px;
    color: white;
    display: flex;
    gap: 30px; 
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
}

/* Colonna delle informazioni */
.info p {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}

.info a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
} 

.social-container {
    display: flex;
    gap: 30px; 
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Icone social */
.social-icon img {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s;
}

.social-icon img:hover {
    transform: scale(1.1); 
}

.info a:hover {
    color: #DE9463;
}


/*--------------------------------------------------------------------------------Responsive-----------------------------------------------------------------------------*/

@media (max-width: 320px) {
    body {
        margin: 0;
        padding: 0;
    }
    
    
    header {
        height: 120px;
    }
    
    #titolo-header {
        font-size: 18px;
    }
    
    
    h1 {
        font-size: 30px;
        margin-left: 0;
        margin-top: 10px;
    }
      
    h3 {
        font-size: 22px;
        margin: 10px;
        margin-bottom: 40px;
    }
      
    p {
        font-size: 4px;
    }


    .contenitore-bio {
        margin-right: 20%;
    }
    
    .titolo-categoria {
        font-size: 18px;
        padding: 5px 10px;
        margin: 0;
    }
    
    .contenitore-testo-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 5px; /* Spazio tra gli elementi */
        padding: 10px 0; /* Spazio interno */
    }

    .testo-footer {
        font-size: 16px; /* Rende il testo leggibile su schermi piccoli */
    }


    hr {
        width: 90%;
    }

    .contenitore-profilo {
        flex-direction: column; /* Imposta la disposizione verticale */
        align-items: right; /* Centra gli elementi */
        text-align: center;
    } 

    .img-profilo {
        width: 50px;
        border-radius: 50%;
    }

    .contenitore-categorie {
        flex-direction: column;
        gap: 20px;
    }
    
    .contenitore-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .img-categoria {
        width: 50%;
    }

    .lista-epuntato {
        font-size: 15px;
        line-height: 2;

    }

    .contacts-container {
        display: flex;
        gap: 30px;
        padding: 300px;
        padding-right: 150px;
        justify-content: space-evenly;
        align-items: center;
    }

    .gallery {
        display: flex; /* Cambia il layout in Flex */
        flex-direction: column; /* Colonne in verticale */
        align-items: center; /* Allineamento centrale */
        gap: 20px; /* Diminuisce la spaziatura tra gli elementi */
        padding: 0 15px; /* Distanza tra il contenuto e i bordi */
    }

    .work-item img {
        width: 90%; /* L'immagine prende il 90% della larghezza */
        max-width: 300px; /* Limita la larghezza a 300px */
    }
}
 